﻿.main-section{
    border-bottom: 2px solid #000;
    border-radius: 5px;
    margin: 1em;
    margin-bottom: 2em;
    padding: 1em;
    clear:both;
    overflow: hidden;
}

.subsection{
    display: inline-block;
    float:left;
    text-align: center;
    margin-right: 2em;
}

h2{
    font-size: large;
}

h1{
    font-size: 20pt;
}
