﻿@import url(http://fonts.googleapis.com/css?family=Bevan);

body{
    margin-left: -1em;
    margin-right: -1em;
    font-family: 'Arial', sans-serif;
}

main{
    margin: 0;
    padding: 0;
    text-align: center;
}

.search input{
    width: 90%;
}

.search{
    height: 5em;
    padding: 1em;
}

.search form{
    margin: auto;
    width: 90%;
}

.player-card{
    border: solid black 3px;
    border-radius: 5px;
    margin: .5em;
    padding: 1em;
    width: 265px;
    display: inline-block;
    background-color: #bbb;
    box-shadow: 5px 5px 5px #888;
    float: right;
    margin-right: 5em;
    text-align: center;
}

.name{
    margin-bottom: .5em;
    font-size: 16pt
}

.results{
    margin: auto;
    margin-top: 1em;
    padding-left: 4em;
}

.stat-name, .stat-value{
    display: inline-block;
    margin: -5px;
    padding: 0;
    margin-bottom: 1px;
    border: solid black 2px;
}

.stat-name{
    background-color: #0099FF;
    width: 150px;
}

.stat-value{
    background-color: #FFB547;
    width: 50px;
}

.stat-top-left{
    border-top-left-radius: 5px;
}

.stat-top-right{
    border-top-right-radius: 5px;
}

.stat-bottom-left{
    border-bottom-left-radius: 5px;
}

.stat-bottom-right{
    border-bottom-right-radius: 5px;
}

.portrait{
    width: 230px;
    height: 185px;
    border-bottom: solid 2px black;
}

.loading img{
    margin: auto;
}

.animTall{
    height: 300px;
    margin-top: 2em;
}

.animShort{
    height: 0;
    transition: height 0.2s ease-out;
    overflow: hidden;
    margin-top: 2em;
}

.searchedFor, .error{
    padding: 1em;
    font-size: 15pt;
    width: 80%;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1em;
}

.searchedFor{
    background-color: RGBA(0,255,0,0.5);
}

.error{
    background-color: RGBA(255,0,0,0.5);
}

.logo{
    text-align: center;
}

.logo img, .logo h1{
    display: inline-block;
}

.logo h1{
    font-size: 50pt;
    font-family: 'Bevan', cursive;
}

.result{
    margin-bottom: 2em;
}

.title{
    margin: 0;
    font-size: larger;
}

.date{
    font-size: smaller;
}