﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="css/lib/bootstrap.css">
    <link rel="stylesheet" href="css/dashboardstyles.css">

    <script src="js/lib/angular.js"></script>
    <script src="js/lib/bootstrap-angular.js"></script>
    <script src="js/dashboard.js"></script>
</head>
<body ng-app="DashboardApp" ng-controller="DashboardController">
    <div id="crawler-controls" class="main-section">
        <h1>Crawler Controls</h1>
        <div class="subsection">
            <h2>Crawler Status</h2>
            <p>{{status}}</p>
        </div>
        <div class="subsection">
            <h2>Crawler Targets</h2>
            <p>{{targets}}</p>
        </div>
        <div class="subsection" ng-if="status == 'idle'">
            <h2>Start</h2>
            <form ng-submit="start()">
                <input type="text" ng-model="startArgs">
                <input type="submit" value="Start">
            </form>
        </div>
        <div class="subsection" ng-if="status == 'running'">
            <h2>Stop</h2>
            <button ng-click="stop()">Stop</button>
        </div>
        <div class="subsection" ng-if="status == 'idle'">
            <h2>Clear</h2>
            <button ng-click="clear()">Clear</button>
        </div>
    </div>
    <div id="web-role-controls" class="main-section">
        <h1>Web Role Controls</h1>
        <div class="subsection">
            <h2>Trie</h2>
            <button ng-click="buildTrie()">Build Trie</button>
            <p>Built: {{trieBuilt}}</p>
            <p># Titles: {{trieSize}}</p>
            <p>Last Title: {{trieLastTitle}}</p>
        </div>
        <div class="subsection">
            <h2>Data Downloaded</h2>
            <button ng-click="downloadBlobs()">Download Data</button>
            <p>Titles Downloaded: {{downloaded}}</p>
        </div>
        <div class="subsection">
            <h2>Cache</h2>
            <button ng-click="clearCache()">Clear Cache</button>
            <p>Cache Size: {{cacheSize}}</p>
            <p># Searches: {{numSearches}}</p>
        </div>
    </div>
    <div id="diagnostics" class="main-section">
        <h1>Performance Stats</h1>
        <div class="subsection">
            <h2>CPU</h2>
            <p>{{cpu}}</p>
        </div>
        <div class="subsection">
            <h2>Crawler Memory Used</h2>
            <p>{{memUsed}}</p>
        </div>
        <div class="subsection">
            <h2>Crawler Memory Avaliable</h2>
            <p>{{memAvaliable}}</p>
        </div>
        <div class="subsection">
            <h2>Web Memory Avaliable</h2>
            <p>{{webMemAvaliable}}</p>
        </div>
    </div>
    <div id="crawlerStats" class="main-section">
        <h1>Crawler Stats</h1>
        <div class="subsection">
            <h2>Queue Length</h2>
            <p>{{queueLength}}</p>
        </div>
        <div class="subsection">
            <h2>Table Length</h2>
            <p>{{tableLength}}</p>
        </div>
        <div class="subsection">
            <h2>
                Last 10 Crawled URLs</h1>
                <p>{{last10[0].Url}}</p>
                <div class="last10item" ng-repeat="result in last10">
                    <p>{{result.Url}}</p>
                </div>
        </div>
    </div>
</body>
</html>
