﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search</title>

    <link rel="stylesheet" href="css/lib/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="js/lib/angular.js"></script>
    <script src="js/lib/bootstrap-angular.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="SearchApp" ng-controller="SearchController">
    <div class="head">

    </div>

    <div class="search">
        <form class="form-group search" ng-submit="getResults(); getBasketballPlayer()">
            <input type="text" ng-model="input" placeholder="Search..." typeahead="suggestion for suggestion in suggestions | limitTo:10" ng-change="getSuggestions(); getResults(); getBasketballPlayer()" class="form-control" typeahead-focus-first="false">
        </form>
    </div>

    <div class="results">
        <div ng-repeat="player in basketballResults" class="player-card">
            <img class="portrait" src="http://i.cdn.turner.com/nba/nba/.element/img/2.0/sect/statscube/players/large/{{player.PlayerName.toLowerCase().replace(' ', '_')}}.png" err-src="http://i.cdn.turner.com/nba/nba/.element/img/2.0/sect/statscube/players/large/default_nba_headshot.png" alt="{{player.fName}} {{player.lName}} photo" />
            <!--<img class="portrait" ng-src="img/portrait.png" err-src="img/noPortrait.png" alt="photo"/>-->
            <h1 class="name">{{player.PlayerName}}</h1>
            <div class="stats">
                <div class="stat-row">
                    <p class="stat-name stat-top-left">Games Played:</p>
                    <p class="stat-value stat-top-right">{{player.GP}}</p>
                </div>
                <div class="stat-row">
                    <p class="stat-name">Field Goal %</p>
                    <p class="stat-value">{{player.FGP}}</p>
                </div>
                <div class="stat-row">
                    <p class="stat-name">TPP</p>
                    <p class="stat-value">{{player.TPP}}</p>
                </div>
                <div class="stat-row">
                    <p class="stat-name">Free Throw %</p>
                    <p class="stat-value">{{player.FTP}}</p>
                </div>
                <div class="stat-row">
                    <p class="stat-name stat-bottom-left">Points Per Game</p>
                    <p class="stat-value stat-bottom-right">{{player.PPG}}</p>
                </div>
            </div>
        </div>

        <div class="result" ng-repeat="result in results">
            <p class="title"><a href="{{result.URL}}">{{result.FullTitle}}</a></p>
            <p class="url">{{result.URL}}</p>
            <p class="date">{{result.Date.replace("/Date(", "").replace(")/", "") | date:'medium'}}</p>
        </div>
    </div>

    <div class="ad">
        <script type="text/javascript" src="http://srvpub.com/adServe/banners?tid=37231_54696_3&type=shadowbox&autoClose=enable&size=800x440"></script>
    </div>
</body>
</html>
